body {
    text-align: center;
}

.btn-info {
    font-size: 25px;
}

.btn-success:hover {
    background-color: red;
}

@keyframes change_box_shadow {
    from {box-shadow: 1px 1px 35px red;}
    to {box-shadow: 1px 1px 35px yellow;}
}

canvas {
    animation-name: change_box_shadow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 20px;
    margin-top: 100px;
}